.trening {
  padding: 25px 30px 30px;
  margin-top: 20px;
  background: #FCFDFD;

  border-radius: 4px h3 {
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;

    color: #181818;
  }
}